.App {
  text-align: center;
  background-color:#F1F3F4;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.cards
{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap
}

.card
{
  width: 330px;
  height: 450px;
  margin: 10px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: #c5c7c9;
  padding-top: 20px;
}

.card:hover
{
  transition: 0.3s;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.card img
{
  width: 100%;
}

.inp
{
  width: 600px;
  height: 50px;
  margin: 20px 0;
  font-size: 20px;
  padding-left: 10px;
  outline: none;
  border: none;
  border-radius: 10px;
}

.card-title
{
  font-size: 20px;
  font-weight: 600;
}

.card-body
{
  width: 100% !important;
}

.image
{
  width: 200px;
}

.db-flex
{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-body p
{
  font-size: 17px;
  font-weight: 500;
}
